body {
background: white;
padding-left: 80px;
padding-right: 80px;

}
.chebur {
    display : block;
    text-align: -webkit-center;
    margin: auto;
    width: 960px;
}
.cheburFoto {
    display: block;
    width: 300px;
    height: 300px;
    padding-top: 20px; 
    position: relative; 
}

.input-number {
    display: block;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #E5E8EE;
    box-sizing: border-box;
    border-radius: 6px;
    color: #424348;
    font-size: 14px;
    text-align: center;
    width: calc(33px * 3);
}

.input-number_input {
    background: #E5E8EE;
    width: 32px;
    height: 32px;
    border: none;
    padding: 8px;
    text-align: center;
}

.input-number_minus,
.input-number_plus {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}


.input-number {
    display: inline-block;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #E5E8EE;
    box-sizing: border-box;
    border-radius: 6px;
    color: #424348;
    font-size: 14px;
    text-align: center;
    margin: 20px;
}

.input-number_input {
    background: #E5E8EE;
    width: 32px;
    height: 32px;
    border: none;
    padding: 8px;
    text-align: center;
}

.input-number_minus,
.input-number_plus {
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}
.btnCart {
    background: green;
    margin-top: 20px;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    
}
.ingrid {
    display: flex;
    text-align: -webkit-center;
    position: relative;
    left: 150px;
    right: 150px;
}
.productCart {
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
    border-style: ridge;
    border-radius: 20px;
    margin-top: 20px;
} 
.countCart {
    font: black;
}
.logoChebur {
    width: 50px;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
}
header {
    width: 100%;
    display: flex;
    background: grey;
    max-width: 960px;
    margin: auto;

}
.conteiner {
    width: 100%;
    margin: auto;
    max-width: 960px;
}
/*a {
    color: black;
    margin-left: 380px;
    text-decoration: none;
}*/
.nameShop {
    color: red;
    font-size: 50px;
    font-weight: bold;
    margin: auto;
}
.slider {
    position: inherit;
    width: 100%;
    height: 500px;
    display: inline-flex;
    margin-top: 20px;
    margin: auto;
}
.img.now {
    display: block;
}
.img {
    display: none;
}
.sliderfoto {
    width: 800px;
    height: 450px
}
.prev{
    padding-left: 50px;
    margin: auto;
}
.next {
    padding-right: 50px;
    margin: auto;
}
.cart {
    width:50px;
    height: 50px;
    margin: auto;
    position: relative;

}
.cartGoods.cartAdd {
    width: 450px;
    height: 450px;
    background:peachpuff;
    display: block;
    position: absolute;
    top: 225px;
    left: 450px;
    font-size: 18px;
    border-radius: 20px;
}
.goods {
    display: flex;
}
.fotoCartGoods{
    width: 50px;
    height: 50px;
}
.myCart {
    display: block;
    max-width: 960px;
    margin: auto;
}
.cartgoods{
    display: none;
    position: absolute;
    right: 0px;
    background: #ffe4c4c7;
    overflow: auto;
    height: 250px;
    min-height: 170px;
    font-size: 10px;
    width: 260px;

}
.cartgoods{
    padding: 5px;
    display: none;
}

h{
    display: inline;
}
h3{
    display:inline-block;
    width: 250px;
}
.done{
    margin: auto;
}
.nameCartGoods{
    margin: auto;
    display: inline;
}
.cartnumber{
    display: block;
    position: absolute;
    top: 0px;
    right: 1px;
    color: red;
    font-weight: bold;
}
.btnSlNext{
    text-decoration: none;
    margin-left: 10px;
}
.btnSlPrev{
    text-decoration: none;
    margin-right: 10px;
}
.selectCategorys{
    padding: 50px;
    padding-bottom: 10px;
    display: none;
    position: absolute;
    background-color: #E5EFE2;
    top: -40px;
    right: 170px;
    border-radius: 5px;
}
.menu{
    position: relative;
    background-color: #e5efe2c4;
    margin-bottom: 15px;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 2px;
}
.categorys{
    list-style: none;
    font-size: 20px;
    margin-bottom: 20px;
    border: 2px black;
}
.categorys:hover{
    color:  red;
    cursor: pointer;
}
.menu, .cart, .logo, button:hover{
    cursor: pointer;
}
.contact {
    text-decoration: none;
}
.contactShop{
    margin: auto;
}
